@font-face {
    font-family: 'Aeonik-Regular';
    src:url(../fonts/Aeonik-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Aeonik-Bold';
    src:url(../fonts/Aeonik-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'Aeonik-Light';
    src:url(../fonts/Aeonik-Light.otf) format("opentype");
}


body{
    background-color:#0268B0;
}

.content-area {
  max-width: 1303px;
  margin: auto;
  width: 100%;/*could break things*/
}

*{
    font-family: 'Aeonik-Light';
    color:white;
    overflow-wrap: break-word!important;

}


h2{
    overflow-wrap: break-word!important;

}


/*for iphones -> correct button display*/
.submit-button{
-webkit-appearance: none;
}
.send-filter{
	-webkit-appearance: none;

}