

  /*---------workspace area----------------------*/
  .parent .workspace-item{
    width:21.7%;
    border-radius: 10px;
    box-shadow: 5px 2.5px 2.5px rgba(0, 0, 0, 0.383);
    height:100%;
    }

    .workspace-item img{
        object-fit: cover!important;
        margin-top:20px;
        border-radius: 110px;
        width:55%;
        max-height:100px;
    }

    .workspace-item h2{
        margin-bottom: 15px!important;
        font-size: 38px!important;

    }

    .workspace-item p{
        margin-top: 0px!important;
    }


    .further-info {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px!important;
    }


    @media (max-width: 800px) {

        .parent .workspace-item{
            height: 299px!important;        
        }
    }

    /**---------------------------------------------*/


    /*---------addtional area----------------------*/
  .parent .additional-item{
    width:21.7%;
    border-radius: 10px;
    box-shadow: 5px 2.5px 2.5px rgba(0, 0, 0, 0.383);
    height:100%!important;
    background-color: white;
    min-height: 272px!important;
    }

    .additional-item img{
        margin-top:20px;
        border-radius: 110px;
        width:55%!important;
    }

    .additional-item h2{
        margin-bottom: 0px!important;
        margin-top: 0px!important;
        font-size: 35px!important;
		color:#0268B0;
    }
    

    .additional-item p{
        margin-top: 0px!important;
		color:#0268B0;
    }


    .additional-item .further-info {
        width:100%;
        margin-top:20px!important;
        float:left;
        text-align:center;
        font-size:20px;
        font-weight: bold;
        margin-bottom: 20px;
    }


    @media (max-width: 800px) {

        .parent .additional-item{
            height:400px!important;
        }
    
    }

    .swal2-title{
        text-align: center!important;
    }
    /**---------------------------------------------*/