/*-------------flexbox model-------------------*/
.parent {
    display: flex;
    flex-flow: row wrap;

}
  
  .child {
    width: 30%; 
    height: 166px; 
    margin: auto; 
    text-align: center;
    color:white;
    margin:20px;
    background-color: #E95A0E;
  }
  @media (max-width: 800px) {
    .child {
        width: 90%!important;

    }
  }
  @media (max-width: 600px) {
    .parent {
      flex-direction: column!important;
    }

    .child {
        width: 90%;

    }
  }
  /*--------------------------------------------*/

