.option-area-add {
    background-color:#E95A0E!important;
    margin-top:20px!important;
    width:16%;
    height: 136px;
}
.option-area-add h3 {
    background-color:#E95A0E!important;
    font-size: 37px;
    margin:0px;
    margin-top:40px!important;

}

.form-item{
    color:blue;
    background-color:transparent!important;
    margin-top:20px!important;
    width:90%;
    height: 136px;
    margin:auto;
}

.w50{
    width:50%!important;
    float:left!important;
}

.submit-button{
    font-family: Aeonik-Regular, sans-serif;
    background-color: #E95A0E!important;
    padding: 10px 31px;
    border-radius: 12px;
    text-decoration: none;
    padding: 13px 22px;
    margin-top:20px;

}

form{
    width:80%;
    margin:auto;
    border:5px solid white;
    height: 110%;
}

select, input{
    width: 100%;
  }

.special-submit{
    margin-top:83px!important;
}

.modify-option form {
    border:2px solid transparent!important;
}

.modify-option .child{
    height: 61px;
}
h2{
    text-align: center!important;
    width:100%;
    font-weight:bold;
    font-size: 58px;
}

h3{
    font-size: 30px;
}

h1{
    margin-top:50px!important;
}
textarea{
    background-color:#0268B0!important;
    max-width: 81%;
    border:2px solid white;
    color:white;
    font-size: 30px;
    height: 65px;
    width: 100%;
}

input{
    background-color:#0268B0!important;
    border:2px solid white;
    font-size: 30px;
}

select{
    background-color: transparent;
    font-size: 30px;
    border:2px solid white;

}


option{
    color:white;
    background-color:#0268B0;

}


select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
::placeholder {
    color:white;
  }

  /*FILTER----------------------*/

  #remove-typefilter-button, #remove-projectfilter-button{
    font-size: 42px!important;
    margin-left: 10px;
  }
  
  .filter{
    width:37%;
    height:134px;
  }


  .filter-form{
    text-align: center!important;
    border: none;
    display: flex;
    justify-content: center;
  }
  .send-filter{
      margin-top:49px;
  }

  .green{
    font-family: 'Aeonik-Bold';
  }

  .red{
    font-family: 'Aeonik-Light';
}

.add-section form{
    padding: 21px;
    margin: auto;
    text-align: center;
}


@media (max-width: 800px) {


    form {
        border:2px solid transparent!important;
		width: 100%!important;
    }

    .w50{
        width: 100%!important;
    }

    select{
        font-size: 25px;
    }

    tr{
        margin-top:50px;
    }

    td{
        margin: 39px 0px;
        font-size: 27px!important;;
    }


  }

/*font awesome icons*/
  .fas{
    font-size: 68px!important;
  }

  /*change form*/
  #item-title{
      margin:0px;
      width:100%;
      float: left;
      text-align: center!important;
      margin-left: 10px;
  }
  

  #logo-display{
    max-width: 158px;
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.filter-form{
    height: 18%!important;
    
  }

  .w70{
      width:70%;
      margin: auto;
    
  }

  form h3{
    text-align: left;
  }

  /*TABS*/

  .tab{
      font-size:50px;
      margin: 0px 30px;
  }

  .tab-section{
    width: 39%;
    margin: auto;

  }

  .filter-select, .send-filter{
    width: 78%;
    margin-top: 59px;
  }


@media only screen and (max-width: 800px) {
  .filter-form{
    height:20%!important;
    width:100%!important;
  }
	
	.filter-select, .send-filter{
    width: 80%!important;
  }

  .filter{
    width:100%!important;
  }
}
