  
 
 /*-------------header area-------------------*/

  .header-right{
    text-align: right;
    border:5px solid red;

}

.round-button{
    font-family: Aeonik-Regular, sans-serif;
    font-size:16px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    padding: 13px 22px;
    margin-top:20px!important;
}


.option-area {
    background-color:#E95A0E!important;
    margin-top:20px!important;
}
.option-area h3 {
    background-color:#E95A0E!important;
    font-size: 62px;
    margin:0px;
    margin-top:40px!important;
}


  /*--------------------------------------------*/

/*---------TOP HEADING WELCOME TO... DIGICUBE DEV--------------*/
  h1{
    margin-bottom: 0px;
    text-align:center!important;
    font-family: Aeonik-Regular;
    font-size:30px;
	margin-top: 0px;

	
  }

  h1 strong{
    font-size:25px;

  }

  body{
    padding:2%;

  }

  @media (min-width: 800px) {
    h1{
        font-size:80px;
      }

      h1 strong{
        font-size:50px;
      }


  }

    /*--------------------------------------------*/

  
    @media (max-width: 800px) {
	.overlay a {
	font-size:40px!important;
		
	}	
	.option-area h3 {
	font-size:40px!important;

	}
		
	.option-area{
	height:140px;
	}
		
	.closebtn {
	font-size: 183px!important;
	}

}

/**---------------------------------------------*/

		.overlay {
		  height: 100%;
		  width: 0;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: #0268B0;
		  background-color: #0268B0;
		  overflow-x: hidden;
		  transition: 0.5s;
		}

		.overlay-content {
		  position: relative;
		  top: 15%;
		  width: 100%;
		  text-align: center;
		  margin-top: 30px;
		}

		#logout{
			color:#E95A0E;
		}

		.overlay a {
		  padding: 8px;
		  text-decoration: none;
		  font-size: 91px;
		  color: ##0268B0;
		  display: block;
		  transition: 0.3s;
		}

		.overlay a:hover, .overlay a:focus {
		  font-weight:900;
		}

		.overlay .closebtn {
		position: absolute;
		top: -24px;
		right: 45px;
		font-size: 183px;
		}

		.hamburger-icon{
		font-size:80px;
		cursor:pointer;
		float:right;
		}	


