.form-item{
    height:50px;
}
#login{
    border:none;
    width:100%;
    margin-top: 14%;
}

#login input{
    width: 100%!important;
}


#login .submit-button{
    width: 18%!important;
}

@media (max-width: 600px) {
    #login .submit-button{
        width: 50%!important;
    }
}

