table, td, th {
  border-bottom: 2px solid white;
  font-size: 37px;
  margin-top: 52px;
}

#project table, td, th {
    font-size: 20px
}
#project table, i {
	font-size: 30px;
	margin-top:11px;
}


td, th{
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse!important;
}
.row-id{
  display: none!important;
}

/*modal styling*/
.modal p {
	color:black!important;
}

table img{
	height:61px;
}

td {
	padding: 10px 35px;
}

.edit-item{
	margin-bottom:20px;
}

@media only screen and (max-width: 800px) {
	.tab{
		font-size:20px!important;
	}
	
	.tab-section{
	width:100%!important;
	}
}


/*****************RESPONSIVE TABLE: ADDITIONAL*******************/
@media only screen and (max-width: 800px) {
 
	#project td{
	padding: 3px 11px;
	font-size: 19px!important;
	}

	#project td:nth-of-type(1) {

		display: none;
		
		}
		
		#project th:nth-of-type(1) {
		
		display: none;
		
		}
		
		#project td:nth-of-type(4) {
		
		display: none;
		
		}
		
		#project th:nth-of-type(4) {
		
		display: none;
		
		}
		
		#project td:nth-of-type(5) {
		
		display: none;
		
		}
		
		#project th:nth-of-type(5) {
		
		display: none;
		
		}
}

/*************************************************/


/*****************RESPONSIVE TABLE: ITEM*******************/
@media only screen and (max-width: 800px) {
 
	#item table{
	table-layout: fixed;
	}
	#item td{
	padding: 3px 11px;
	font-size: 19px!important;
	}
	#item .fas{
		font-size:48px!important;
	}

	#item td:nth-of-type(1) {

		display: none;
		
		}
		
		#item th:nth-of-type(1) {
		
		display: none;
		
		}
}

/*************************************************/



